{% extends 'base.html' %}

{% block head_title %} Sobre {% endblock %}

{% block content %}

    <div id="content" class="container content">

        <div class="row">

            <div class="col-md-12 full-width">

                <div class="row">

                    <div class="post-2 page type-page status-publish hentry post-container col-md-12">

                        <div class="post-article post-details page-details-4  ">

                            <h1 class="title">Sobre</h1>
                            <div class="line"></div>
                            <p>
                                This is an example of a WordPress page, you could edit this to put information about
                                yourself or your site so readers know where you are coming from. You can create as many
                                pages like this one or sub-pages as you like and manage all of your content inside
                                of WordPress.
                            </p>

                            <div class="clear"></div>

                            <div class="contact-form">

                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">
                                        Leave a Reply
                                        <small>
                                            <a rel="nofollow" id="cancel-comment-reply-link" href="/suevafree/?page_id=2#respond"style="display:none;">
                                                Cancel reply
                                            </a>
                                        </small>
                                    </h3>
                                    <p class="must-log-in">You must be 
                                        <a href="https://wp-themes.com/wp/wp-login.php?redirect_to=https%3A%2F%2Fwp-themes.com%2Fsuevafree%2F%3Fpage_id%3D2">
                                            logged in
                                        </a> 
                                        to post a comment.
                                    </p>
                                </div>
                                <!-- #respond -->

                                <div class="clear"></div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
{% endblock %}